Package: com.wangdaodao.firsttweak
Name: firsttweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: 王导导的第一个Tweak!
Maintainer: wangdaodao
Author: wangdaodao
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
