Package: com.wangdaodao.firsttweak
Name: firsttweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: 王导到的第一个越狱插件!
Maintainer: wangdaodao
Author: wangdaodao
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
